@model DinamikCVProjesi.Models.Entity.TBL_Deneyimler
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .validation-error {
        color: #d9534f;
        font-weight: 600;
        font-size: 0.9rem;
        margin-top: 5px;
        display: block;
    }
</style>


<h2>Deneyim Ekle</h2>
<br />

@using (Html.BeginForm("DeneyimEkle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.BASLIK)
    @Html.TextBoxFor(x => x.BASLIK, new { @class = "form-control", @style = "width: 60%" })
    @Html.ValidationMessageFor(x => x.BASLIK, "", new { @class = "validation-error" })
    <br />
    @Html.LabelFor(x => x.ALTBASLIK)
    @Html.TextBoxFor(x => x.ALTBASLIK, new { @class = "form-control", @style = "width: 60%" })
    <br />
    @Html.LabelFor(x => x.ACIKLAMA)
    @Html.TextAreaFor(x => x.ACIKLAMA, 10, 0, new { @class = "form-control", @style = "width: 60%" })
    <br />
    @Html.LabelFor(x => x.TARİH)
    @Html.TextBoxFor(x => x.TARİH, new { @class = "form-control", @style = "width: 60%" })
    <br />
    @Html.LabelFor(x => x.Kullanılan_Diller)
    @Html.TextBoxFor(x => x.Kullanılan_Diller, new { @class = "form-control", @style = "width: 60%" })
    <br />
    @Html.LabelFor(x => x.DURUM)
    <div class="form-check-inline">
        <div class="form-check">
            @Html.RadioButtonFor(x => x.DURUM, true, new { @class = "form-check-input", id = "durumAktif" })
            <label class="form-check-label" for="durumAktif">Aktif</label>
        </div>
        <div class="form-check">
            @Html.RadioButtonFor(x => x.DURUM, false, new { @class = "form-check-input", id = "durumPasif" })
            <label class="form-check-label" for="durumPasif">Pasif</label>
        </div>
    </div>
    <br />
    <input type="submit" value="Ekle" class="btn btn-success btn-sm" />
}

