@using DinamikCVProjesi.Models.Entity
@model List<TBL_Deneyimler>
@{
    ViewBag.Title = "Deneyim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        th {
            background: #4e73df;
            color: #fff;
        }

        .card-header {
            background-color: lightgrey;
            color: black;
        }

        .card-header {
            font-family: math;
            font-size: 25px;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Deneyimlerim</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>POZİSYON</th>
                                            <th>ŞİRKET</th>
                                            <th>AÇIKLAMA</th>
                                            <th>TARİH</th>
                                            <th>KULLANILAN DİLLER</th>
                                            <th>DURUM</th>
                                            <th>DÜZENLE</th>
                                            <th>SİL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.BASLIK</td>
                                                <td>@item.ALTBASLIK</td>
                                                @if (item.ACIKLAMA.Length >= 55)
                                                {
                                                    <td>@item.ACIKLAMA.Substring(0, 55) ...</td>
                                                }
                                                else
                                                {
                                                    <td>@item.ACIKLAMA</td>
                                                }
                                                <td>@item.TARİH</td>
                                                @if (item.Kullanılan_Diller.Length >= 50)
                                                {
                                                    <td>@item.Kullanılan_Diller.Substring(0, 50) ...</td>
                                                }
                                                else
                                                {
                                                    <td>@item.Kullanılan_Diller</td>
                                                }
                                                <td>
                                                    @if ((bool)item.DURUM)
                                                    {
                                                        <span class="badge bg-success text-sm">Aktif</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge bg-danger text-sm">Pasif</span>
                                                    }
                                                </td>

                                                <td><a href="~/Admin/DeneyimGetir/@item.ID" class="btn btn-warning btn-sm">Düzenle</a></td>
                                                <td><a href="~/Admin/DeneyimSil/@item.ID" class="btn btn-danger btn-sm">Sil</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a href="~/Admin/DeneyimEkle" class="btn btn-success btn-sm" style="margin-top:15px">Ekle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>


