@using DinamikCVProjesi.Models.Entity
@model List<TBL_Deneyimler>
@{
    ViewBag.Title = "Deneyim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <style>
        th {
            background: #4e73df;
            color: #fff;
        }
    </style>
</head>
<body>
    <h2>DENEYİMLER</h2>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>BAŞLIK</th>
            <th>ALTBAŞLIK</th>
            <th>AÇIKLAMA</th>
            <th>TARİH</th>
            <th>KULLANILAN DİLLER</th>
            <th>SİL</th>
            <th>DÜZENLE</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.BASLIK</td>
                <td>@item.ALTBASLIK</td>
                <td>@item.ACIKLAMA.Substring(0, 25) ...</td>
                <td>@item.TARİH</td>
                <td>@item.Kullanılan_Diller.Substring(0, 50) ...</td>
                <td><a href="~/Admin/DeneyimSil/@item.ID" class="btn btn-danger">Sil</a></td>
                <td><a href="~/Admin/DeneyimGetir/@item.ID" class="btn btn-warning">Düzenle</a></td>
            </tr>
        }
    </table>
    <a href="~/Admin/DeneyimEkle" class="btn btn-success">Ekle</a>

</body>
</html>
