@using DinamikCVProjesi.Models.Entity
@model List<TBL_Hakkımda>
@{
    ViewBag.Title = "Hakkımda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <style>
        th {
            background: #4e73df;
            color: #fff;
        }
    </style>
</head>
<body>
    <h2>HAKKIMDA</h2>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>SOYAD</th>
            <th>ADRES</th>
            <th>TELEFON</th>
            <th>MAİL</th>
            <th>ACIKLAMA</th>
            <th>DURUM</th>
            <th>DÜZENLE</th>
            <th>SİL</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.AD</td>
                <td>@item.SOYAD</td>
                <td>@item.ADRES</td>
                <td>@item.TELEFON</td>
                <td>@item.MAİL</td>

                @if (item.ACIKLAMA.Length >= 55)
                {
                    <td>@item.ACIKLAMA.Substring(0, 55) ...</td>
                }
                else
                {
                    <td>@item.ACIKLAMA</td>
                }
            <td>
                @if ((bool)item.DURUM)
                {
                    <span class="badge bg-success text-md">Aktif</span>
                }
                else
                {
                    <span class="badge bg-danger text-md">Pasif</span>
                }
            </td>
                <td><a href="~/Admin/HakkımdaGetir/@item.ID" class="btn btn-warning">Düzenle</a></td>
                <td><a href="~/Admin/HakkımdaSil/@item.ID" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </table>
    <a href="~/Admin/HakkımdaEkle" class="btn btn-success">Ekle</a>
</body>
</html>

